* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgray;
}

.container {
    margin: auto;
    width: 960px;
    font-family: 'Walter Turncoat', cursive;
}

#banner {

}

.navigation {
}

#navlist ul{
    display: inline-block;
    margin: 20px 0px;
    width: 107%;
    position: relative;
}

/* below is the navigation bar edits */

#navlist ul li {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    position: static;
    text-decoration: overline;
    font-size: 30px;
    color: #800020;
    border-style: double;
    border-color: black;
    float: left;
    width: 24%;
    text-align: center;
    border-radius: 25px;
}

#navlist ul li:hover {
    color: red;
    background-color: white;    
}

.textcolumn {
    width: 45%;
    height:auto;
    float: left;
    border-style: double;
    border-color: black;
    background-color: white;
}

.slideshow {
    float: right;
    width: 45%;
    background-color: white;
    border-bottom-style: double;
    margin-left: 80px;
    text-align: center;
}

.slideshow img {
    width: 400px;
    height: 400px;
    padding: 18px;
}

.slideshow a {
    font-size: 18px;
    color: orange;
    padding: 10px;
}
/* adjust slideshow direction buttons above */
/* slideshow only in the index page, edit photos for other pages below */

#bikepics {
    float: right;
    width: 45%;
    margin-left: 80px;
    text-align: center;
}

#bikepics img{
    width: 200px;
    height: 200px;
    padding: 30px;
    background-color: white;
}

#btypes h1 {
    color: darkgoldenrod;
    
}

#btypes li {
    text-indent: 1%;
    list-style: inside;
}

#btypes h2 {
    color: navy;
    
}

/* below is only for awareness page */
#baware h1 {
    color: green;
}